<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
        .selected {
            border-style: solid;
            border-color: #337ab7 !important;
            border-width: 5px;
        }

        .word {
            border-style: solid;
            border-color: black;
            border-width: 1px;;
            padding: 5px;;
            margin: 5px;;
        }

        .btn-tab {
            padding: 5px;
            background-color: #a6e1ec;
            cursor: pointer;

        }

        .btn-tab:hover {
            background-color: white;
        }

        .home-container {
            padding: 20px;
            margin-top: 30px;
        }

        .printer-row {
            min-height: 520px;
        }

        .label-primary {
            margin: 1px !important;
        }

        .clear {
            height: 50px;
        }

        .select-image {
            margin-bottom: 20px;
        }

        .input-keyword {
            width: 400px;
        }

        .keyword {
            margin-bottom: 5px;
            cursor: pointer;
        }

        .fty {
            margin-top: 50px;;
        }

        .five-btm {
            margin-bottom: 5px !important;;
        }

        .two-btm {
            margin: 2px !important;;
        }

        .select {
            cursor: pointer;
        }
    </style>
</head>
<body ng-app="myApp" data-ng-controller="myCtrl" id="print">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">3DPrinting</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" ng-click="init()">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- state 1-->
<div class="container">
    <div class="row home-container">
        <!-- state 1-->


        <div class="row printer-row">


            <div class="col-md-12" ng-if="printer.state=='1'">
                <div class="clear">
                    <button class="pull-right btn" ng-click="printer.clear_select_images()">Clear All</button>
                    <h3>Select photos that are similar to your failed 3d print </h3>

                </div>
                <div ng-repeat="image in printer.images">
                    <div class="col-md-4 select-image">
                        <img src="{{image.src}}" width="200" height="120" ng-click="printer.select_image($index)"
                             class="select"
                             ng-class="{ 'selected': image.selected }"
                                />
                    </div>
                </div>


            </div>


            <div class="col-md-6" ng-if="printer.state=='2'">

                <h3>Select or add keywords </h3>


                <div class="input-group input-keyword">
                    <input type="text" id="new" class="form-control" ng-model="word" placeholder="Add keyword ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="add_word(word)">Add</button>
      </span>
                    <button class="pull-right btn" ng-click="printer.clear_select_words()">Clear All</button>
                </div>
                <br><br>
                <!-- /input-group -->


                <div ng-repeat="image in printer.words">

                    <div class="col-md-3 word keyword" ng-class="{ 'selected': image.selected }"
                         ng-click="printer.select_word($index)">
                        {{image.word}}
                    </div>
                </div>


            </div>

            <div class="col-lg-6 fty" ng-if="printer.state==3">
                <h3> Upload a photo of your 3d print</h3>

                <div class="form-group">
                    <label for="exampleInputFile">Input File</label>
                    <input type="file" id="exampleInputFile">

                    <p class="help-block">Upload a jpg file.</p>
                </div>
            </div>


            <div class=" well fty" ng-if="printer.state>1"
                 ng-class="{true:'col-lg-12', false:'col-lg-5'}[printer.state>3]"
                    >
                <div class="row">
                    <div ng-repeat="image in printer.selected_images">
                        <div class="col-md-2 ">
                        <img src="{{printer.images[image].src}}" width="50" height="50"
                             ng-class="{ 'selected': image.selected }"
                                />
                    </div>
                </div>
                </div>




                <span class="label label-primary" ng-repeat="image in printer.selected_words">
                     {{printer.words[image].word}}
                </span>
                <br>

                <h3 ng-if="printer.state<4">Possible Issues</h3>

                <div ng-repeat="image in suggestions | limitTo:3 " ng-if="printer.state==2">

                    <div class="row">
                        <div class="col-lg-2">
                            <h2 class="two-btm">{{$index+1}}</h2>

                            <small> XX%</small>
                        </div>
                        <div class="col-lg-10">
                            <strong>{{image.title}}</strong>
                            {{image.description}}
                        </div>


                    </div>

                </div>


                <div ng-repeat="image in suggestions | limitTo:6 " ng-if="(printer.state>2 && solutions=='all')"
                        >

                    <div class="row five-btm">
                        <div class="col-lg-2 btn-tab" ng-click="showSolution($index)">
                            <h2 class="two-btm">{{$index+1}}</h2>

                            <small> XX%</small>
                        </div>
                        <div class="col-lg-7">
                            <strong>{{image.title}}</strong>
                            {{image.description}}
                        </div>
                        <div class="col-lg-2 ">
                            <button type="button"
                                    class="btn  btn-success btn-sm pull-right"
                                    ng-click="showSolution($index)">SOLUTION
                            </button>

                        </div>


                    </div>

                </div>
                <hr>

                <div class="row" ng-if="(printer.state>2 && solutions=='one')">


                    <div class="col-lg-2 ">
                        <div ng-repeat="image in suggestions " ng-click="showSolution($index)" class="btn-tab">
                            <h2 class="two-btm">{{$index+1}}</h2>

                            <small> XX%</small>
                        </div>
                    </div>


                    <div class="col-lg-7">

                        <strong>{{app.title}}</strong> <br>
                        {{app.description}}
                        <br> <br> <br>

                        <div class="" ng-include="template">

                        </div>
                    </div>
                </div>
            </div>


            <!-- state 1-->
        </div>
        <button type="button" class="btn btn-lg" ng-click="printer.prev()" ng-if="(printer.state>1 && printer.state<4)">
            Previous Step
        </button>
        <button type="button" class="btn btn-lg" ng-click="allSolutions()" ng-if="printer.state>3">Show Suggestions
        </button>

        <button type="button" ng-if="printer.state<4" class="btn btn-lg btn-primary pull-right"
                ng-click="printer.next()">Next Step
        </button>
        <a type="button" ng-if="printer.state>3" class="btn btn-lg btn-primary pull-right" target="_blank"
           href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=vkamath@andrew.cmu.edu&su=3D%20help">Provide
            feedback</a>
    </div>
</div>
<!-- state 2 -->
<script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script type="application/javascript" src="js/index.js"></script>
</body>

</html>