<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
        .selected {
            border-style: solid;
            border-color: lawngreen !important;
            border-width: 5px;
        }

        .word {
            border-style: solid;
            border-color: black;
            border-width: 1px;;
            padding: 5px;;
            margin: 5px;;
        }

    </style>
</head>
<body ng-app="myApp">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">3DPrinting</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- state 1-->
<div class="container" style="padding: 20px;margin-top: 30px;">
    <div class="row" data-ng-controller="myCtrl" id="print">
        <!-- state 1-->


        <div class="row" style="min-height: 520px;">


            <div class="col-md-12" ng-if="printer.state=='1'">
                <div style="height: 50px;">
                    <button class="pull-right btn">Clear All</button>
                    <h3>Select photos that are similar to your failed 3d print </h3>

                </div>
                <div ng-repeat="image in printer.images">
                    <div class="col-md-4" style="margin-bottom: 20px;">
                        <img src="{{image.src}}" width="200" height="120" ng-click="printer.select_image($index)"
                             ng-class="{ 'selected': image.selected }"
                                />
                    </div>
                </div>


            </div>


            <div class="col-md-8" ng-if="printer.state=='2'">

                <h3>Select or add keywords </h3>

                <div class="input-group" style="width: 400px;">
                    <input type="text" class="form-control" placeholder="Add keyword ...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add</button>
      </span>
                    <button class="pull-right btn">Clear All</button>
                </div>
                <br><br>
                <!-- /input-group -->


                <div ng-repeat="image in printer.words">

                    <div class="col-md-3 word" ng-class="{ 'selected': image.selected }" style="margin-bottom: 5px;"
                         ng-click="printer.select_word($index)">
                        {{image.word}}
                    </div>
                </div>


            </div>

            <div class="col-lg-8 " ng-if="printer.state==3" style="margin-top: 50px;">
                <div class="form-group">
                    <label for="exampleInputFile">Input File</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>
            </div>


            <div class="col-lg-4 well" ng-if="printer.state>1" style="margin-top: 50px;">
                <div ng-repeat="image in printer.selected_images">
                    <div class="col-md-2" style="margin-bottom: 5px;">
                        <img src="{{printer.images[image].src}}" width="50" height="50"
                             ng-class="{ 'selected': image.selected }"
                                />
                    </div>
                </div>
                <br>
                <hr>

                <div ng-repeat="image in printer.selected_words">

                   <span class="label label-primary" style="display: inline"> {{printer.words[image].word}}</span>
                </div>

            </div>


            <!-- state 1-->
        </div>
        <button type="button" class="btn btn-lg" ng-click="printer.prev()" ng-if="printer.state>1">Previous Step
        </button>
        <button type="button" class="btn btn-lg btn-primary pull-right" ng-click="printer.next()">Next Step</button>

    </div>
</div>
<!-- state 2 -->
<script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script type="application/javascript" src="js/index.js"></script>
</body>

</html>